h3 {
  margin-top: 15px;
  color: #57a5c9;
}

p {
  line-height: 1.6;
}

.skill {
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.skill-bar {
  height: 10px;
  background: #2eb8ac;
}
